<table class="table table-responsive table-bordered">
  <thead class="table-inverse">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Direccion</th>
      <th>Coordenadas</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let usuario of listado" > -->
      <tr>
      <td>{{usuario.id}} </td>
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.sexo}} </td>
      <td>{{usuario.direccion}} </td>
      <td>{{usuario.coordenada}}></td>
      <td><app-practicasp-boton [accion] = "editar"><app-practicasp-boton></td>
    </tr>
  </tbody>
</table>